
@model CocktailViewModel
@{
    var star = "/images/star.png";
}


<head>
    <style>

        .picture {
            display: inline-block;
            height: 400px;
            width: 250px;
            border-radius: 8px;

        }

        .title {
            font-size: 45px;
            text-align: left;
            text-decoration: underline;
            line-height: 1;
            font-family: Impact, Charcoal, sans-serif;
        }

        .averageRating {
            text-align: left;
            word-spacing: 10px;
        }

        .about {
            font-size: 30px;
            font-family: Impact, Charcoal, sans-serif;
        }

        .info {
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .ingredients {
            display: inline-block;
            font-family: Impact, Charcoal, sans-serif;
            font-size: 35px;
            text-indent:60px;
            margin-left:auto;
            margin-right: auto;
            vertical-align: top;
            text-align: left;
        }


        .warning {
            font-size: 25px;
            font-family: Impact, Charcoal, sans-serif;
        }

        .comments {
            font-size: 25px;
            font-family: Impact, Charcoal, sans-serif;
        }

        .table, th, td {
            border-top: 2px solid black;
        }

        th {
            text-align: center;
            font-size: 20px;
        }

        td {
            text-indent: 5px;
            border-bottom: 2px solid black;
        }

        .author {
            font-size: 17px;
            font-family: Impact, Charcoal, sans-serif;
        }

        .comment {
            font-size: 22px;
            text-align: left;
        }
    </style>
</head>


<h2 class="title">@Model.Name Cocktail</h2>

<h2>
    @for (int i = 0; i < Model.AverageRating; i++)
    {
        <img src="@star" width="25" alt="rating" />
    }
</h2>
<img class="picture" alt="@Model.Name" src="/storage/images/cocktails/@Model.ImageUrl" />
<div class="ingredients">
    <h2 class="ingredients">Ingredients</h2>

    @foreach (var item in Model.Ingredients)
    {

        <h4> <span>&#9728;</span> @item</h4>
    }

</div>
<div>
    <div class="caption-full">

        <h3 class="about">About <span>&#9759;</span></h3>
        <p class="info">@Model.LongDescription</p>


    </div>
</div>
<h3 class="warning">Leave a Comment     <span>&#9759;</span></h3>
<div class="form-group">

    @if (!(User.Identity.IsAuthenticated))
    {
        <h4 class="card-title"><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Login">register</a> to add comments and rate</h4>
    }
    else
    {


        <input type="hidden" asp-for="@Model.CurrentComment" class="form-control">
        @using (Html.BeginForm("AddComment", "Cocktails"))
        {
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

            <input class=" form-control" id="CurrentComment" name="CurrentComment" type="text" placeholder="Write your Comment here" />
            <input asp-area="Member" asp-controller="CocktailComment" asp-action="AddComment" type="submit" value="Submit" />

        }
        <form asp-area="Member" asp-controller="CocktailRating" asp-action="AddRating">
            <h4>Rate this cocktail here:</h4>
            <fieldset class="rating" style="float: left; background-color: #8FA08B;">
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <link href="~/css/star.css" rel="stylesheet" type="text/css" />
                <input type="submit" id="star5" name="SelectedRating" value="5" /><label class="full" for="star5"></label>
                <input type="submit" id="star4half" name="SelectedRating" value="4.5" /><label class="half" for="star4half"></label>
                <input type="submit" id="star4" name="SelectedRating" value="4" /><label class="full" for="star4"></label>
                <input type="submit" id="star3half" name="SelectedRating" value="3.5" /><label class="half" for="star3half"></label>
                <input type="submit" id="star3" name="SelectedRating" value="3" /><label class="full" for="star3"></label>
                <input type="submit" id="star2half" name="SelectedRating" value="2.5" /><label class="half" for="star2half"></label>
                <input type="submit" id="star2" name="SelectedRating" value="2" /><label class="full" for="star2"></label>
                <input type="submit" id="star1half" name="SelectedRating" value="1.5" /><label class="half" for="star1half"></label>
                <input type="submit" id="star1" name="SelectedRating" value="1" /><label class="full" for="star1"></label>
                <input type="submit" id="starhalf" name="SelectedRating" value=".5" /><label class="half" for="starhalf"></label>
            </fieldset>

        </form>
    }
</div>
<br />
<div>
    @if (Model.Comments.Count == 0 || Model.Comments == null)
    {
        <br />
        <h4>Be the first to add a Comment!!!</h4>
    }
    else
    {
        <h4 class="comments">Comments:</h4>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Comments)
                {
                    <tr>

                        <td class="author">
                            @item.Author<br />
                            @item.CreatedOn.ToString("dd MM yyyy HH:mm")
                        </td>
                        <td class="comment">
                            @item.Text
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
