@model cloudscribe.Pagination.Models.PagedResult<CocktailViewModel>
@{ 
    ViewData["Controller"] = "Cocktails";
    ViewData["Action"] = "Search";
}



<div class="col-12">
    <table class="table table-striped border">


        @foreach (var item in Model.Data)
        {
            <tr>
                <td><a asp-controller="Cocktails" asp-action="Details" asp-route-id="@item.Id"><img src="@item.ImageUrl" width="150" height="200" /></a></td>
                <td>
                    <b>Name: </b>@Html.DisplayFor(m => item.Name)<br />
                    @*<b>Comments</b>(@Html.DisplayFor(m => item.Comments.Count))<br />*@
                    <b>Rating: </b>@Html.DisplayFor(m => item.AverageRating)<br />
                </td>
                <td>
                    <b>Ingredients: </b><br />@foreach (var ingridient in item.Ingredients)
                    {
                        <span>&#8211;</span> @Html.DisplayFor(m => ingridient)<br />
                    }
                </td>
            </tr>
        }
    </table>
</div>
<partial name="_PeginationPartial" view-data="ViewData" model="Model"/>