@model CocktailMagician.Web.Models.BarViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "/images/" + (Model.PhotoPath ?? "noimage.jpg");
    var star = "/images/star.png";
}
<<<<<<< HEAD

<head>
    <style>     
        .picture {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 500px;
            width: 800px;
            border-radius: 8px;
        }
        .title {
            font-size:45px;
            text-align: left;
            text-decoration: underline;
            text-indent: 20px;
            line-height: 1;
            font-family: Impact, Charcoal, sans-serif;
        }
        .averageRating{
            text-align:left;
            text-indent:20px;
            word-spacing:10px;
        }
        .about {
            font-size:30px;
            font-family: Impact, Charcoal, sans-serif;
        }
        .info{
            font-size:15px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .warning {
            font-size: 25px;
            font-family: Impact, Charcoal, sans-serif;
        }

        .table, th, td {
            font-size: 18px;
            border-top: 2px solid black;
        }
        th{
            text-align:center;
            font-size:20px;

        }
        td {
            text-indent: 5px;
            border-bottom: 2px solid black;
           
        }
        .comment{
            font-size:25px;
            
            text-align:center;
        }

    </style>
</head> 

    <h2 class="title">@Model.Name</h2>
    <p class="averageRating">
        @for (int i = 0; i < Model.AverageRating; i++)
        {
            <img src="@star" width="25" alt="rating" />
        }
    </p>
<img class="picture" alt="@Model.Name" src="@photoPath" width="300" height="200">
<div>
    <div class="caption-full">
        <h3 class="about">About <span>&#9759;</span></h3>
        <p class="info">@Model.Info</p>


        @*<h3>Avaiable Cocktails:</h3>
            @foreach (var item in Model.Cocktails)
            {

                <h4> <span>&#9728;</span> @item</h4>
            }*@
    </div>
=======
<div>
    <h1>@Model.Name</h1>
    <img class="card-img-top" src="@photoPath" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRating):
        </dt>
        <dd class="col-sm-10">
             @for (int i = 0; i < Model.AverageRating; i++)
             {
            <img src="@star" width="30" alt="rating"/>
             }
        </dd>
    </dl>
>>>>>>> b06f6d8134e45cd63506def195ddbc56d9712bb4
</div>

<h3 class="warning">Leave a Comment</h3>
<div class="form-group">
    <h3>Leave a Comment        <span>&#9759;</span></h3>
    @if (!(User.Identity.IsAuthenticated))
    {
        <h4 class="card-title"><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Login">register</a> to add comments and rate</h4>
    }
    else
    {

        <input type="hidden" asp-for="@Model.CurrentComment" class="form-control">
        @using (Html.BeginForm("AddComment", "Bars"))
        {
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

            <input class=" form-control" id="CurrentComment" name="CurrentComment" type="text" placeholder="Write your Comment here" />
            <input asp-area="Member" asp-controller="BarComment" asp-action="AddComment" type="submit" value="Submit" />

        }
        <form asp-area="Member" asp-controller="BarRating" asp-action="AddRating">
            <fieldset class="rating">
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <link href="~/css/star.css" rel="stylesheet" type="text/css" />
                <input type="submit" id="star5" name="SelectedRating" value="5" /><label class="full" for="star5"></label>
                <input type="submit" id="star4half" name="SelectedRating" value="4.5" /><label class="half" for="star4half"></label>
                <input type="submit" id="star4" name="SelectedRating" value="4" /><label class="full" for="star4"></label>
                <input type="submit" id="star3half" name="SelectedRating" value="3.5" /><label class="half" for="star3half"></label>
                <input type="submit" id="star3" name="SelectedRating" value="3" /><label class="full" for="star3"></label>
                <input type="submit" id="star2half" name="SelectedRating" value="2.5" /><label class="half" for="star2half"></label>
                <input type="submit" id="star2" name="SelectedRating" value="2" /><label class="full" for="star2"></label>
                <input type="submit" id="star1half" name="SelectedRating" value="1.5" /><label class="half" for="star1half"></label>
                <input type="submit" id="star1" name="SelectedRating" value="1" /><label class="full" for="star1"></label>
                <input type="submit" id="starhalf" name="SelectedRating" value=".5" /><label class="half" for="starhalf"></label>
            </fieldset>
        </form>
    }
</div>
<br />
<div>
    @if (Model.Comments.Count == 0 || Model.Comments == null)
    {
        <br />
        <h4>Be the first to add a Comment!!!</h4>
    }
    else
    {
        <h4>Comments:</h4>
        <table class="table">
            @*<thead>
                <tr>
                    <th>
                        User Name
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
            </thead>*@
            <tbody>
                @foreach (var item in Model.Comments)
                {
                    <tr>

                        <td>
                            @item.Author <br />
                            @item.CreatedOn.ToString("dd MM yyyy HH:mm")
                        </td>
                        <td class="comment">
                            @item.Text                           
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<<<<<<< HEAD
@if (User.IsInRole("cocktail magician"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a> 
    </div>
}
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
=======
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
>>>>>>> b06f6d8134e45cd63506def195ddbc56d9712bb4
